<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
<add id="AdminACL_HelloWorld::helloworld" title="Hello World" module="AdminACL_HelloWorld" sortOrder="51" resource="AdminACL_HelloWorld::helloworld"/>
<add id="AdminACL_HelloWorld::post" title="Manage Posts" module="AdminACL_HelloWorld" sortOrder="10" action="adminacl_helloworld/post" resource="AdminACL_HelloWorld::post" parent="AdminACL_HelloWorld::helloworld"/>
<add id="AdminACL_HelloWorld::hello_configuration" title="Configuration" module="AdminACL_HelloWorld" sortOrder="99" parent="AdminACL_HelloWorld::helloworld" 
action="adminhtml/system_config/edit/section/helloworld" resource="AdminACL_HelloWorld::helloworld_configuration"/>
</menu>
</config>