<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TestTasks_TaskOne::taskone" title="Task One" module="TestTasks_TaskOne" sortOrder="51" resource="TestTasks_TaskOne::taskone"/>
        <add id="TestTasks_TaskOne::post" title="Manage Posts" module="TestTasks_TaskOne" sortOrder="10" action="testtasks_taskone/post"
    resource="TestTasks_TaskOne::post" parent="TestTasks_TaskOne::taskone"/>
        <add id="TestTasks_TaskOne::task_configuration" title="Configuration" module="TestTasks_TaskOne" sortOrder="99" parent="TestTasks_TaskOne::taskone" 
    action="adminhtml/system_config/edit/section/taskone" resource="TestTasks_TaskOne::taskone_configuration"/>
    </menu>
</config>