<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="get_product_collection" frontName="get-product-collection">
            <module name="Perspective_GetProductCollection" />
        </route>
    </router>
</config>
