<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="checkout" translate="label" sortOrder="10">
            <label>Checkout</label>
        </tab>
        <section id="wholesale" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Wholesale</label>
            <tab>checkout</tab>
            <resource>Checkout_Wholesale::wholesale_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="large_wholesale" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Large Wholesale</label>
                   <field id="enabled_large_wholesale" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                                         <label>Large Wholesale Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                   </field>

                    <field id="group_list" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                                          <label>Select Customer Group As LargeWholesale</label>
                                           <source_model>Checkout\Wholesale\Model\Config\Source\CustomerGroups</source_model>
                                           <can_be_empty>1</can_be_empty>
                   </field>

                   <field id="summ" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                                        <label>Select Order Sum</label>
                   </field>
                   <field id="pay_list" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                                       <label>Select Payment Method</label>
                                       <source_model>Checkout\Wholesale\Model\Config\Source\PaymentMethods</source_model>
                                       <can_be_empty>1</can_be_empty>
                  </field>
            </group>
            <group id="wholesale" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Wholesale</label>
                   <field id="enabled_wholesale" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                                         <label>Wholesale Enable</label>
                                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                   </field>

                    <field id="group_list1" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                                          <label>Select Customer Group As Wholesale</label>
                                           <source_model>Checkout\Wholesale\Model\Config\Source\CustomerGroups</source_model>
                                           <can_be_empty>1</can_be_empty>
                   </field>
                  <field id="qty" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                                         <label>Select Order Qty</label>
                  </field>
                   <field id="del_list" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                                          <label>Select Shipping Method</label>
                                          <source_model>Checkout\Wholesale\Model\Config\Source\ShippingMethods</source_model>
                                           <can_be_empty>1</can_be_empty>
                  </field>
                  <field id="pay_list1" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                                           <label>Select Payment Method</label>
                                           <source_model>Checkout\Wholesale\Model\Config\Source\PaymentMethods</source_model>
                                          <can_be_empty>1</can_be_empty>
                  </field>
             </group>
        </section>
    </system>
</config>
