<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="example_one" frontName="example-one">
            <module name="WidgetJs_ExampleOne" />
        </route>
    </router>
</config>