<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="product_by_id_test" frontName="product-by-id-test">
            <module name="Perspective_ProductByIDTest" />
        </route>
    </router>
</config>
