<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Order_Cancel::view" title="Cancel Orders" module="Order_Cancel" sortOrder="40" resource="Order_Cancel::view"/>
        <add id="Order_Cancel::menu" title="Cancel Orders Grid" module="Order_Cancel" sortOrder="30" parent="Order_Cancel::view" action="ordercanceladmin/index/index" resource="Order_Cancel::menu"/>
<!--       <add id="Order_Cancel::cancel_configuration" title="Configuration" module="Order_Cancel" sortOrder="99" parent="Order_Cancel::order"-->
<!--             action="adminhtml/system_config/edit/section/cancel" resource="Order_Cancel::cancel_configuration"/>-->
    </menu>
</config>
