<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <airfreight>
            <general>
                <enable></enable>
                <display_balloonlbs></display_balloonlbs>
                <display_balloonpr></display_balloonpr>
                <display_charterlbs></display_charterlbs>
                <display_charterpr></display_charterpr>
                <display_speedlbs></display_speedlbs>
                <display_speedpr></display_speedpr>
                <display_spaceshiplbs></display_spaceshiplbs>
                <display_spaceshippr></display_spaceshippr>
            </general>
        </airfreight>
    </default>
</config>