<div data-bind="visible: selectedMethod() == 'internationaldelivery'">
    <div data-role="title">
            <span class="action action-toggle" role="heading" aria-level="2">
                <!-- ko i18n: 'enter address'--><!-- /ko -->
            </span>
    </div>
    <div data-role="content">
        <form class="form form-comment">
            <div class="field_required">
                <div class="control">
                    <textarea class="input-text" name="shipping_comment" rows="4" data-bind="attr:{placeholder: $t('Type here...')}"></textarea>
                    <div class="field-error"><span></span>
                        <!-- ko text: notAvailableStr -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: notAvailableStr-->
                      <a data-bind="attr: { href: cardUrl }">Edit Cart</a>
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
</div>
