<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
<add id="AdminACL_RunOut::runout" title="Run Out" module="AdminACL_RunOut" sortOrder="51" resource="AdminACL_RunOut::runout"/>
<add id="AdminACL_RunOut::post" title="Manage Posts" module="AdminACL_RunOut" sortOrder="10" action="adminacl_runout/post" resource="AdminACL_RunOut::post" parent="AdminACL_RunOut::runout"/>
<add id="AdminACL_RunOut::run_configuration" title="Configuration" module="AdminACL_RunOut" sortOrder="99" parent="AdminACL_RunOut::runout" 
action="adminhtml/system_config/edit/section/runout" resource="AdminACL_RunOut::runout_configuration"/>
</menu>
</config>