<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tasktwo>
            <general>
                <enable></enable>
               <base_price></base_price>
                <final_price></final_price>
                 <special_price></special_price>
                  <tier_price></tier_price>
                   <catalog_rule_price></catalog_rule_price>
             </general>
        </tasktwo>
    </default>
</config>  