<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TestTasks_TaskTwo::tasktwo" title="Task Two" module="TestTasks_TaskTwo" sortOrder="51" resource="TestTasks_TaskTwo::tasktwo"/>
        <add id="TestTasks_TaskTwo::post" title="Manage Posts" module="TestTasks_TaskTwo" sortOrder="10" action="testtasks_tasktwo/post"
    resource="TestTasks_TaskTwo::post" parent="TestTasks_TaskTwo::tasktwo"/>
        <add id="TestTasks_TaskTwo::task_configuration" title="Configuration" module="TestTasks_TaskTwo" sortOrder="99" parent="TestTasks_TaskTwo::tasktwo" 
    action="adminhtml/system_config/edit/section/tasktwo" resource="TestTasks_TaskTwo::tasktwo_configuration"/>
    </menu>
</config>