<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="list_of_all_customers" frontName="list-of-all-customers">
            <module name="Perspective_ListOfAllCustomers" />
        </route>
    </router>
</config>
