<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="product_current_category" frontName="product-current-category">
            <module name="Perspective_ProductCurrentCategory" />
        </route>
    </router>
</config>
