<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customprice>
            <general>
                <enable></enable>
                <custom_price_percent>15</custom_price_percent>
            </general>
        </customprice>
    </default>
</config>
